{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=title"width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/header.css' %}">
    <link rel="stylesheet" href="{% static 'home/base.css' %}">

    {% block title %}
    {% endblock %}

    {% block css %}
    {% endblock %}
</head>

<body>
{% include 'home/header.html' %}

<div class="base-wrapper">
    {% block content %}
    
    {% endblock %}
</div>
</body>
</html>