
.login {
    width: 100%;
    height: 100vh;
    background-image:url("../../static/auth_pages/img/login01.svg");
    background-repeat: no-repeat;
    background-size: 90vh;
    background-position: center;;


}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.form-wrapper{
    width: 400px;
    height: 100%;
}

form {
    opacity: 100 !important;
}

.inputs {
}

.input-box {
    padding: 10px;
    margin-top: 10px;
}

.input-box input {
    padding: 3px;
    width: 300px;
    height: 30px;
    padding-left: 30px;
    border-radius: 8px;
    border: 2px solid #1d3557;
}



.input-box h3{
    display: flex;
    justify-content: left;
}


.input-box input[name='username'] {
    background: url('img/user.svg');
    background-repeat: no-repeat;
    background-position: left 5px center;
    background-size: 20px;
}

.input-box input[name='password'] {
    background: url('img/lock.svg');
    background-repeat: no-repeat;
    background-position: left 5px center;
    background-size: 20px;
}

form button[type='submit'] {
    border: 0;
    border-radius: 8px;
    width: 100px;
    padding: 15px;
    background-color:#a8dadc ;
    color: black;
    transition: ease .3s;
}


 form button[type='submit']:hover {
    background-color: #008CBA;
    color: white;
}


.errors{
    padding: 15px;
}
