.header{
    width: 100%;
    height:100px;
    background-color: #008CBA;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 10px;
}

ul{
    position: absolute;
    right: 0;
}

li{
    display: inline-block;
    padding:15px;

}