{% load static %}

<link rel="stylesheet" href="{% static 'auth_pages/login.css' %}">



{% block content %}
    <div class="login">
        <div class="loginForm">
            <form method="post">
                {% csrf_token %}


                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>

                <input type="submit" value="login">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
            <div class="errors">
                {% if form.errors %}
                    Your username and password didn't match. Please try again.
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.</p>
                    {% else %}
                        <p>Please login to see this page.</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        {# Assumes you setup the password_reset view in your URLconf #}
        {% comment %} <p><a href="{% url 'password_reset' %}">Lost password?</a></p> {% endcomment %}
        <img src="{% static 'auth_pages/img/book.png' %}" alt="book">
    </div>

{% endblock %}

