{% extends 'home/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        Profile
    {% endblock %} </title>
    {% block css %}
        <link rel="stylesheet" href="{% static  'profile_page/profile.css' %}">
    {% endblock %}
</head>
<body>

{% block content %}
    {% if user.is_authenticated %}
        <div class="user-box">
        <div class="pp-content">
               <img src="{{ MEDIA_URL }}{{ user.profile_photo.url }}">
        </div>
            <h3 id="title">{{ user.name}}{{ user.surname }}</h3>
        </div>
    {% else %}
        <div class="authenticate-error">
            <div class="text-content">
                <p>Lütfen giriş yapınız .</p>
                <a href="/">Giriş Sayfasına gitmek için tıklayınız. </a>
            </div>
            <div class="image-content">
                <img src="{% static 'auth_pages/img/notauth.svg' %}" alt="">
            </div>
        </div>
    {% endif %}

{% endblock %}


</body>
</html>