{% extends 'home/base.html' %}
{% load static %}
{% block title %}
    <title>Profile</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static  'profile_page/profile.css' %}">
{% endblock %}




   {% block content %}
        <div class="global-wrapper">

        <div class="lesson-wrapper flex-row">
            {% for i in data %}
            <div class="lesson-card flex">
                <section class="lesson-name flex">
                    <p>{{ i }}</p>
                </section>
                <section class="lesson-detail flex">
                    {{ i.description }}
                </section>
            <section class="lesson-redirect flex" >
                <a href="/{{ i }}"><button>Derse Git -></button></a>
            </section>
            </div>
            {% endfor %}
        </div>

        </div>
   {% endblock %}



{##}
{#    {% if user.is_authenticated %}#}
{#        <div class="wrapper">#}
{#            <img src="{% static 'profile_page/img/profilebackground.svg' %}" alt="">#}
{#        <div class="user-box">#}
{##}
{#            <h3 id="title">Hoşgeldin {{ user.name}} {{ user.surname }}</h3>#}
{#        </div>#}
{#                </div>#}
{##}
{#    {% else %}#}
{#        <div class="authenticate-error">#}
{#            <div class="text-content">#}
{#                <p>Lütfen giriş yapınız .</p>#}
{#                <a href="/">Giriş Sayfasına gitmek için tıklayınız. </a>#}
{#            </div>#}
{#            <div class="image-content">#}
{#                <img src="{% static 'auth_pages/img/notauth.svg' %}" alt="">#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}



{#        <div class="user-box">#}
{##}
{#            {% for i in data %}#}
{##}
{##}
{#                <div class="deneme">#}
{#                    <b>Ders Adı:</b> {{ i }}<br>#}
{#                    <b>Açıklama:</b> {{ i.description }}<br>#}
{#                    <b>Oluşturulma Tarihi:</b> {{ i.create_at }}<br>#}
{#                    <b>Güncellenme Tarihi : </b>{{ i.update_at }}<br>#}
{#</div>#}
{#            {% endfor %}#}
{#        </div>#}
